@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter;
}

a {
  @apply transition duration-200 hover:text-blue-600 font-bold;
}

* {
  box-sizing: border-box;
}
